<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Você tem certeza que quer sair?' } %>
<%= link_to 'Registrar Conta', new_user_registration_path %>

<%
=begin%> 
<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Registrar Conta', new_user_registration_path %>
<%= link_to 'Registrar Conta', new_user_registration_path %>  
<%
=end%>
