<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @buy_ticket.ticket %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @buy_ticket.buyer %>
</p>

<p>
  <strong>Value:</strong>
  <%= @buy_ticket.value %>
</p>

<p>
  <strong>Bought moment:</strong>
  <%= @buy_ticket.bought_moment %>
</p>

<%= link_to 'Edit', edit_buy_ticket_path(@buy_ticket) %> |
<%= link_to 'Back', buy_tickets_path %>
