<p id="notice"><%= notice %></p>

<p>
  <strong>Buy:</strong>
  <%= @payment.buy %>
</p>

<p>
  <strong>Method:</strong>
  <%= @payment.method %>
</p>

<p>
  <strong>Paid value:</strong>
  <%= @payment.paid_value %>
</p>

<p>
  <strong>Payment moment:</strong>
  <%= @payment.payment_moment %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
