<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket type:</strong>
  <%= @ticket.ticket_type %>
</p>

<p>
  <strong>Room and presentation:</strong>
  <%= @ticket.room_and_presentation %>
</p>

<p>
  <strong>Person:</strong>
  <%= @ticket.person %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
