<p id="notice"><%= notice %></p>

<p>
  <strong>Presentation:</strong>
  <%= @presentation_room.presentation %>
</p>

<p>
  <strong>Room:</strong>
  <%= @presentation_room.room %>
</p>

<%= link_to 'Edit', edit_presentation_room_path(@presentation_room) %> |
<%= link_to 'Back', presentation_rooms_path %>
