<p id="notice"><%= notice %></p>

<h1>Presentation Rooms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presentation_rooms.each do |presentation_room| %>
      <tr>
        <td><%= link_to 'Show', presentation_room %></td>
        <td><%= link_to 'Edit', edit_presentation_room_path(presentation_room) %></td>
        <td><%= link_to 'Destroy', presentation_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presentation Room', new_presentation_room_path %>
