<p id="notice"><%= notice %></p>

<h1>Event Centers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_centers.each do |event_center| %>
      <tr>
        <td><%= event_center.name %></td>
        <td><%= link_to 'Show', event_center %></td>
        <td><%= link_to 'Edit', edit_event_center_path(event_center) %></td>
        <td><%= link_to 'Destroy', event_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Center', new_event_center_path %>
<%= link_to 'Pagina Inicial', root_path %>
